
        body{ background: linear-gradient(to bottom, #0d4894, #000000);
  min-height: 100vh;
        }
        
        h1{ color: rgb(255, 255, 255);
        font-family: Arial, Helvetica, sans-serif;
        
    }
        p{
            font-family: Arial, Helvetica, sans-serif;
            color:rgb(255, 255, 255);
        }
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgb(89, 89, 89, 0.3);
}
.site-name .name {
    font-weight: bold;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 15px;
}
.links-of-me a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}
.links-of-me a:hover{
    transform: translateY(-5px);
    display: inline-block;
}

/*container fro the whole top section */

.portfolio-my-skills{
   display: flex;
  align-items: center;
  justify-content: center; /* Pulls the straight boxes and photo to the middle */
  gap: 40px;               /* Adjust this to change distance between boxes and photo */
  min-height: 100vh;
}
/* the wavy line*/
.wavy-line{
    position: absolute;
  width: 600px; /* Make it wider to see the exaggeration */
  height: 100%;
  left: 50%; 
  transform: translateX(-10%); /* This slides the wave left until it hits the photo */
  z-index: 1;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 10;
}

.profile-image{
   width: 280px;
   height: 280px;
   border-radius: 50%;
   object-fit: cover;
   box-shadow: 0 10px 30px #000000 ;
}

.skill-bar {
  display: flex;
  flex-direction: column; 
  gap: 20px; /* Space between each row */
  align-items: flex end;
  transform: translateY(-50px);
  z-index: 10;
}

/* 2. The Item: Keeps icon and box side-by-side */
.skill-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* 3. The Name Box: Consistent white rectangles */
.skill-name {
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  width: 450px; /* Uniform width for the "straight" look */
  padding: 25px 0;
  text-align: center;
  border: 2px;
  font-weight: bold;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;

}